@use '../../../node_modules/@wordpress/base-styles/build-style/admin-schemes.css';
@use '../../../node_modules/@wordpress/interface/build-style/style.css';

.noptin-app__interface {
    background-color: #fff;
    z-index: 10;

    * {
        box-sizing: border-box;
    }

    .components-snackbar-list {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1000;

        .components-snackbar {
            margin-left: auto;
        }
    }
}
