@use '../../../node_modules/@wordpress/base-styles/build-style/admin-schemes.css';
@use '../../../node_modules/@wordpress/interface/build-style/style.css';

.hizzlewp-app__interface {
    background-color: #f9fafb;
    z-index: 10;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    .hizzlewp-no-shadow {
        box-shadow: none;
    }

    .components-snackbar-list {
        position: fixed;
        bottom: 0;
        right: 0;

        .components-snackbar {
            margin-left: auto;
        }
    }

    .components-notice-list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &:empty {
            display: none;
        }

        .components-notice {
            margin-bottom: 0;
        }
    }

    .hizzlewp-components-unit-control__select--large .components-unit-control__select {
        max-width: 72px !important;
    }
}

@media (min-width:782px) {
    .hizzlewp-app__interface.has-footer .interface-interface-skeleton__body {
        padding-bottom: 41px;
    }
}

.hizzle-interface__header-menu {
    .components-button {
        border-radius: 0;
        font-weight: 500;

        &.is-pressed {
            --wp-components-color-foreground: rgba(var(--wp-admin-theme-color--rgb), 0.1);
            --wp-components-color-foreground-inverted: var(--wp-admin-theme-color-darker-10);
        }

        &.is-pressed:hover {
            background-color: var(--wp-components-color-foreground);
            --wp-components-color-foreground: rgba(var(--wp-admin-theme-color--rgb), 0.2);
        }

        &:hover {
            background-color: rgba(var(--wp-admin-theme-color--rgb), 0.1);
            color: var(--wp-admin-theme-color-darker-10);
        }
    }
}