.hizzlewp-stat-card {
	padding: 0.25rem;
	text-align: center;
	box-shadow: 2px 2px 2px rgb(0 0 0 / 5%);
	min-width: 100px;
	border-radius: 4px;

	&__success {
		background-color: #d4edda;
		color: #155724;

		& h2,
		& h3 {
			color: #155724;
		}
	}

	&__info {
		background-color: #cbeeff;
		color: #0c5460;

		& h2,
		& h3 {
			color: #0c5460;
		}
	}

	&__warning {
		background-color: #fff3cd;
		color: #856404;

		& h2,
		& h3 {
			color: #856404;
		}
	}

	&__error {
		background-color: #f8cbcb;
		color: #cc1818;

		& h2,
		& h3 {
			color: #cc1818;
		}
	}

	&__dark {
		background-color: #212529;
		color: #f8f9fa;

		& h2,
		& h3 {
			color: #f8f9fa;
		}
	}

	&__default {
		background-color: #f8f9fa;
		color: #212529;

		& h2,
		& h3 {
			color: #212529;
		}
	}
}

.hizzlewp-overview-loading-placeholder__card {
	max-width: 100%;
	width: 100px;
	height: 100px;
	display: inline-block;
	min-height: 1em;
	vertical-align: middle;
	cursor: wait;
	background-color: currentColor;
	opacity: .5;
	animation: placeholder-glow 2s ease-in-out infinite;
}

@keyframes placeholder-glow {
	50% {
		opacity: .2;
	}
}