// https://github.com/WordPress/gutenberg/blob/e9d5e0fcb7b1c41915119f6dc5f3c19b02c1077d/packages/base-styles/README.md
@import 'mixins';
@import 'breakpoints';
@import 'variables';

table.hizzlewp-records-view-table {

    tr {
        border-top: 1px solid #f0f0f0;

        .hizzle-records__table-header-button {
            gap: $grid-unit-05;
        }

        td:last-child,
        th:last-child {
            padding-right: $grid-unit-60;
        }

        &:last-child {
            border-bottom: 0;
        }

        &.is-hovered {
            background-color: #f8f8f8;
        }
    }

    thead {
        th {
            background-color: #f8f9fa;
            border-top: 1px solid #f0f0f0;
        }

        &:last-child th {
            border-bottom: 1px solid #f0f0f0;
        }
    }

    tr td.hizzlewp-records-view-table__checkbox-column:first-child,
    tr th.hizzlewp-records-view-table__checkbox-column:first-child {
        padding-left: 12px;
    }

    .hizzle-records__table-selection-checkbox {
        --checkbox-input-size: 24px;
    }
}